apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: eventflow
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: eventflow-platform
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: grafana
