apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: eventflow
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: eventflow-platform
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
    - port: {{ .Values.prometheus.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: prometheus
