apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: eventflow
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: eventflow-platform
spec:
  ports:
    - port: 6379
      name: redis
      targetPort: 6379
  selector:
    app.kubernetes.io/name: redis
---
apiVersion: v1
kind: Service
metadata:
  name: redis-headless
  namespace: eventflow
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: eventflow-platform
spec:
  ports:
    - port: 6379
      name: redis
  clusterIP: None
  selector:
    app.kubernetes.io/name: redis
