apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: eventflow
  labels:
    app.kubernetes.io/name: jaeger
    app.kubernetes.io/part-of: eventflow-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jaeger
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jaeger
        app.kubernetes.io/part-of: eventflow-platform
    spec:
      serviceAccountName: default
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.51
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5775
              name: zk-compact-thrift
              protocol: UDP
            - containerPort: 6831
              name: jaeger-compact
              protocol: UDP
            - containerPort: 6832
              name: jaeger-binary
              protocol: UDP
            - containerPort: 5778
              name: config-rest
              protocol: TCP
            - containerPort: 16686
              name: query
              protocol: TCP
            - containerPort: 14250
              name: grpc
              protocol: TCP
            - containerPort: 14268
              name: collector
              protocol: TCP
            - containerPort: 14269
              name: admin
              protocol: TCP
            - containerPort: 4317
              name: otlp-grpc
              protocol: TCP
            - containerPort: 4318
              name: otlp-http
              protocol: TCP
          env:
            - name: COLLECTOR_OTLP_ENABLED
              value: "true"
            - name: SPAN_STORAGE_TYPE
              value: "memory"
            - name: MEMORY_MAX_TRACES
              value: "100000"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /
              port: admin
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: admin
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
      terminationGracePeriodSeconds: 30
